@import '../node_modules/antd/dist/antd.less';

// -------- Colors -----------
@primary-color: @blue-6;
@info-color: @primary-color;
@success-color: @green-6;
@processing-color: @blue-6;
@error-color: @red-5;
@highlight-color: @red-5;
@warning-color: @gold-6;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;

@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 5px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

// Layout
@layout-body-background: #f0f0f0;
@layout-header-background: #ec3237;
@layout-header-height: 64px;
@layout-header-padding: 0 25px;
@layout-header-color: @text-color;
@layout-footer-padding: 24px 50px;
@layout-footer-background: @layout-body-background;
@layout-sider-background: @layout-header-background;
@layout-trigger-height: 48px;
@layout-trigger-background: #002140;
@layout-trigger-color: #fff;
@layout-zero-trigger-width: 36px;
@layout-zero-trigger-height: 42px;

// Layout light theme
@layout-sider-background-light: #fff;
@layout-trigger-background-light: #fff;
@layout-trigger-color-light: @text-color;

// Steps
@process-tail-color: gray;
@steps-nav-arrow-color: fade(@black, 25%);
@steps-background: #000;

// Carousel
@carousel-dot-width: 20px;
@carousel-dot-height: 10px;
@carousel-dot-active-width: 30px;

// Background color for `<body>`
@body-background: #f0f0f0;
// Base background color for most components
@component-background: #fff;

// lessc "./styles/defaultTheme.less" "./styles/css/antd.css" --js
